<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>Félicitations pour votre inscription</title>
</head>

<body>
<p>Votre compte est mainternant activé, vous pouvez dès maintenant <a href="https://aexils.fr/login">vous connecter</a></p>
</body>

</html>

